<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>DanMu管理平台</title>
  <meta charset="UTF-8">
  <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>



  <div class="pg-header">
    <div class="logo left">DanMu Console</div>
    <div class="user right" style="position: relative">
      <a class="avatar" th:href="@{/doLogout}">
        <img src="../static/img/avatar.jpg" alt="头像无法展示" title="注销" />
      </a>
    </div>
  </div>

  <div class="pg-content">
    <div class="menu left">
      <ul id="ul">
        <li data-src="resource.html">资源管理</li>
        <li data-src="b.html">任务设置</li>
        <li data-src="c.html">任务执行</li>
      </ul>
    </div>
    <div class="content right">
      <iframe frameborder="0" width="100%" height="100%" th:src="show.html" id="page"></iframe>

    </div>
  </div>


  <script type="text/javascript">
    let items = document.getElementsByTagName("li");
    for (let i = 0; i < items.length; i++) {
      items[i].onclick = function () {
        let src = items[i].getAttribute("data-src")
        document.getElementById("page").setAttribute("src", src)
      }
    }
  </script>
</body>

</html>